<div id="header">
    <!-- class="sticky" for sticky menu -->
    <!-- Top Bar -->
    <header id="topBar" class="styleBackgroundColor">
        <div class="container">

            <!-- mail , phone -->
            <div class="call-us fsize13 pull-left margin-top10">
                Call Us Today: <strong>813-300-8033 </strong>
                <span class="hide_mobile">
                    &bull; <a href="mailto:digitalpatrick@outlook.com">digitalpatrick@outlook.com</a>
                </span>
            </div>

            <div class="pull-right fsize13 hide_mobile">

                <div class="block text-right">
                    <!-- social -->
                    <a href="https://www.facebook.com/leon.patrick.football" class="social fa fa-facebook" target="_blank"></a>
                    <a href="https://twitter.com/DigiPatOnServ" class="social fa fa-twitter" target="_blank"></a>
                    <a href="https://plus.google.com/u/0/+leonpatrick/posts" class="social fa fa-google-plus" target="_blank"></a>
                    <a href="http://instagram.com/digitalpatrick" class="social fa fa-instagram" target="_blank"></a>
                </div><!-- /social -->

            </div>

        </div><!-- /.container -->
    </header>
    <!-- /Top Bar -->
    <!-- Top Nav -->
    <header id="topNav">
        <div class="container">

            <!-- Logo -->
            <a class="logo" href="index.html">
                <img data-ng-src="../../Content/images/DigitalPatrickLogo.png" height="50" alt="" />
            </a>

            <!-- Mobile Menu Button -->
            <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
                <i class="fa fa-bars"></i>
            </button>

            <!-- Top Nav -->
            <div class="navbar-collapse nav-main-collapse collapse">
                <nav class="nav-main">

                    <!--
                        NOTE

                        For a regular link, remove "dropdown" class from LI tag and "dropdown-toggle" class from the href.
                        Direct Link Example:

                        <li>
                            <a href="#">HOME</a>
                        </li>
                    -->
                    <ul id="topMain" class="nav nav-pills nav-main colored">
                        <!-- "colored" class = colored active menu -->
                        <li class="mega-menu">
                            <a href="/">
                                HOME <span>welcome</span>
                            </a>
                        </li>
                        <li class="mega-menu">
                            <a href="/portfolio">
                                PORTFOLIO <span>projects</span>
                            </a>
                        </li>
                        <li class="mega-menu">
                            <a href="/services">
                                SERVICES <span>our offer</span>
                            </a>
                        </li>
                        <li class="mega-menu">
                            <a href="/contact">
                                CONTACT <span>write us</span>
                            </a>
                        </li>
                    </ul>

                </nav>
            </div>
            <!-- /Top Nav -->

        </div><!-- /.container -->
    </header>
    <!-- /Top Nav -->
</div>
