<!-- REVOLUTION SLIDER -->
<div class="slider fullwidthbanner-container roundedcorners">
    <div class="fullwidthbanner" data-height="500">
        <ul class="hide">

            <!-- SLIDE  -->
            <li data-transition="fade" data-slotamount="7" data-masterspeed="300" data-link="http://www.stepofweb.com/" data-target="_blank" data-saveperformance="off" >

                <img src="assets/images/1x1.png" data-lazyload="assets/images/demo/layerslider/bg21.jpg" alt="" data-bgfit="cover" data-bgposition="center bottom" data-bgrepeat="no-repeat" />

                <div class="tp-caption sft medium_light_white"
                     data-x="right"
                     data-y="bottom" data-voffset="50"
                     data-speed="1000"
                     data-start="1000"
                     data-easing="easeOutExpo"><img src="assets/images/demo/layerslider/slide-b-4.png" alt="" />
                </div>

                <div class="tp-caption sft medium_light_white"
                     data-x="right"  data-hoffset="-145"
                     data-y="230"
                     data-speed="1000"
                     data-start="1500"
                     data-easing="easeOutExpo"><img src="assets/images/demo/layerslider/bi-colored-butterfly-source_ijc.gif" alt="" />
                </div>

                <div class="tp-caption block_styleColor sfl tp-resizeme"
                     data-x="70"
                     data-y="172"
                     data-speed="750"
                     data-start="1000"
                     data-easing="easeOutExpo"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     data-endspeed="300">Epona Multipurpose Template
                </div>

                <div class="tp-caption block_styleColor sfl tp-resizeme"
                     data-x="70"
                     data-y="216"
                     data-speed="750"
                     data-start="1400"
                     data-easing="easeOutExpo"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     data-endspeed="300">Loaded With Options, And Is Simply A Joy To Use
                </div>

                <div class="tp-caption block_styleColor sfr tp-resizeme"
                     data-x="70"
                     data-y="260"
                     data-speed="750"
                     data-start="1800"
                     data-easing="easeOutExpo"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     data-endspeed="300">Premium Sliders That Are Easy To Use With Any Content
                </div>

            </li>

            <!-- SLIDE  -->
            <li data-transition="fade" data-slotamount="14"  data-masterspeed="300" data-delay="10000">

                <!-- COVER IMAGE -->
                <img src="assets/images/1x1.png" data-lazyload="assets/images/demo/wall.jpg" alt="" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat" />

                <div class="tp-caption medium_text lfl stl"
                     data-x="60"
                     data-y="200"
                     data-speed="300"
                     data-start="500"
                     data-easing="easeOutExpo">DO YOU NEED A NEW
                </div>

                <div class="tp-caption large_bold_white sft stb"
                     data-x="60"
                     data-y="223"
                     data-speed="300"
                     data-start="1000"
                     data-easing="easeOutExpo">WEB DESIGN?
                </div>

                <div class="tp-caption small_light_white sft stb"
                     data-x="76"
                     data-y="286"
                     data-speed="500"
                     data-start="2000"
                     data-easing="easeOutExpo">Check Epona included features and options
                </div>

                <div class="tp-caption sft medium_light_white"
                     data-x="600"
                     data-y="60"
                     data-speed="600"
                     data-start="1500"
                     data-easing="easeOutExpo"><img src="assets/images/demo/desktop_slider.png" alt="" />
                </div>

            </li>

        </ul>
        <div class="tp-bannertimer"></div>
    </div>
</div>
<!-- /REVOLUTION SLIDER -->